.number-input__input {
    margin-right: 8px;
    border: 1px solid orange;   
}

.number-input__input:focus {
    margin-right: 8px;
    border: 1px solid orange;   
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}